

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 50px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: #f5ba09;
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  color: #f5ba09;
  font-size: 24px;
  font-weight: bold;
}
.dropdown-link {
  display: flex;
  padding: 2px;
  
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}

/* Layout */
.container {
  margin: 60px auto;
  max-width: 960px;
  padding: 0 30px;
}

/* Map */
.mapit {
  height: 300px;
  width: 100%;
  /* background: #000 url('/images/soc05.jpg') no-repeat center center; */
  color:#fdbe00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Show case */

.showcase {
  height: 300px;
  width: 100%;
  background: #000 url('../public/images/soc05.jpg') no-repeat center center;
  color:#fdbe00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 59, 59, 0);
}

.showcase * {
  z-index: 20;
}

.showcase h1 h2 {

  font-size: 40px;
  margin-bottom: 0;
}

/* /* Footer */


.footer {
    margin: 100px 0 40px;
    text-align: center;
  }
  
  .footer p {
    margin: 5px 0;
  }

  /* EventItem*/

  .event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 13px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .img {
    flex: 1;
    margin: 10px;
    /* border-radius: 25px; */
  }
  
  .info {
    flex: 2;
  }
  
  @media (max-width: 600px) {
    .event {
      flex-direction: column;
      text-align: center;
    }
  
    .info {
      margin-bottom: 20px;
    }
  }

  /* Event */

  .event {
    position: relative;
    padding-top: 40px;
  }
  
  .event h3 {
    font-size: 25px;
  }
  
  .event p {
    margin: 10px 0;
  }
  
  .image {
    margin-bottom: 20px;
  }
  
  .controls {
    position: absolute;
    right: 30px;
    top: 0;
  }
  
  .delete {
    margin-left: 20px;
    color: red;
  }
  
  .back {
    display: block;
    margin-top: 40px;
  }

  /* drop */

  /* Auth */

  .auth {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  }
  
  .auth label {
    display: block;
    margin-bottom: 10px;
  }
  
  .auth input[type='text'],
  .auth input[type='email'],
  .auth input[type='password'] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
  }
  
  .auth input[type='submit'] {
    margin-top: 20px;
    width: 100%;
    font-size: 17px;
  }
  
  .auth div {
    margin-bottom: 20px;
  }

  /* notFount */

  .error {
    text-align: center;
    margin: 100px 0 200px;
  }
  
  .error h1 {
    font-size: 50px;
  }